# Este proyecto utiliza el módulo TikTok-Auto-Uploader de makiisthenes
# Fuente: https://github.com/makiisthenes/TiktokAutoUploader
# Este módulo es una dependencia externa y mantiene su propia licencia y términos de uso

# Dependencias principales
python-dotenv==1.0.1
requests==2.31.0
moviepy==2.1.2
Pillow==10.2.0
numpy==1.26.4

# Dependencias para TikTok Uploader
fake-useragent==1.4.0
selenium==4.17.2
undetected-chromedriver @ git+https://github.com/ultrafunkamsterdam/undetected-chromedriver.git
requests-auth-aws-sigv4==0.7
beautifulsoup4==4.12.3
lxml==5.1.0

# Dependencias para procesamiento de video
imageio==2.33.1
imageio-ffmpeg==0.4.9

# Dependencias para web scraping
requests-html==0.10.0
pyppeteer==1.0.2
websockets>=10.0,<11.0

# Dependencias para utilidades
tqdm==4.66.2
urllib3>=1.25.8,<3.0


google-cloud-texttospeech==2.16.0
google-ai-generativelanguage==0.4.0
google-api-core==2.17.1
google-api-python-client==2.118.0
google-auth==2.27.0
google-auth-httplib2==0.2.0
google-cloud-speech==2.31.0
google-cloud-texttospeech==2.25.0
google-genai==1.7.0
googleapis-common-protos==1.62.0
whisper == 1.1.10
mutagen == 1.47.0
